[Unit]
Description=GoodKiddo SearXNG stack
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ bot_searxng_dir }}
ExecStart=/usr/bin/docker-compose --project-name searxng up -d --remove-orphans
ExecStop=/usr/bin/docker-compose --project-name searxng down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
