SEARXNG_HOST={{ bot_searxng_host }}
SEARXNG_PORT={{ bot_searxng_port }}
SEARXNG_BIND_ADDRESS={{ bot_searxng_bind_address }}
SEARXNG_BASE_URL={{ bot_searxng_api_base }}/
SEARXNG_SECRET={{ bot_searxng_secret }}
SEARXNG_LIMITER=false
SEARXNG_PUBLIC_INSTANCE=false
SEARXNG_IMAGE_PROXY=false
SEARXNG_VALKEY_URL=valkey://valkey:6379/0
